<!-- define your extra apps here -->
<!-- (recomended: dont change the id value) -->
<section id="content-aside" class="content-aside">
    <!-- your module content -->
    <div class="content-module fixed-header">
        <!-- module header -->
        <div class="module-header">
            <div class="pull-right">
                <a id="users-setting" class="btn btn-icon" role="button" style="font-size: 1.3em;">
                    <i class="icon ion-plus"></i>
                </a>
            </div>
            <h3 class="module-title">
                Notebooks
            </h3>
        </div>
        <!-- /module header -->

        <!-- module body -->
        <div class="module-body">

            <!-- app module here -->
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>
            <p class="box" style="margin:10px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem.</p>

        </div>
        <!-- /module body -->
    </div>
    <!-- /content module -->
</section>
<!-- /content asside -->

<!-- define your awesome apps here -->
<!-- (recomended: dont change the id value) -->
<section id="content-main" class="content-main">

    <!-- your app content -->
    <div class="content-app fixed-header">
        <!-- app header -->
        <div class="app-header">
            <h3 class="app-title">Notebook Name - Pages</h3>
        </div>
        <!-- /app header -->

        <!-- app body -->
        <div class="app-body">

            <!-- app content here -->
            <div class="center-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-actions">
                                    <div class="label label-primary">5 min ago</div>
                                </div>
                                <!-- /panel-actions -->
                                <h3 class="panel-title">With heading label</h3>
                            </div>
                            <div class="panel-body" style="display: block;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, quisquam dolorum quo aspernatur. Incidunt, corporis, explicabo, alias nostrum a rerum accusantium iste quas odio quasi itaque exercitationem similique maxime rem!</p>
                            </div>
                        </div>
                        <!-- /box -->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-actions">
                                    <div class="label label-primary">5 min ago</div>
                                </div>
                                <!-- /panel-actions -->
                                <h3 class="panel-title">With heading label</h3>
                            </div>
                            <div class="panel-body" style="display: block;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quam, earum aspernatur amet provident vero officiis eos obcaecati adipisci non perferendis dolorem asperiores velit inventore et vitae mollitia quis veritatis atque soluta tenetur harum nam voluptatibus impedit ea quibusdam illum necessitatibus consequuntur enim beatae sapiente reiciendis doloremque consectetur hic natus.</p>
                            </div>
                        </div>
                        <!-- /box -->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-actions">
                                    <div class="label label-primary">5 min ago</div>
                                </div>
                                <!-- /panel-actions -->
                                <h3 class="panel-title">With heading label</h3>
                            </div>
                            <div class="panel-body" style="display: block;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero explicabo labore eveniet fuga nam quis quia. Odio facere laboriosam ullam.</p>
                            </div>
                        </div>

                        <div class="box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, rerum, velit possimus reprehenderit maxime odio libero doloremque non reiciendis unde at quod repellendus eveniet perspiciatis aperiam assumenda in iure itaque voluptate ad laudantium sed ex.</p>
                        </div>
                        <!-- /box -->

                        <div class="box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nulla at sapiente pariatur cumque a et alias repellendus minus quaerat amet minima. Odio, ipsam, mollitia.</p>
                        </div>
                        <!-- /box -->
                    </div>
                    <!-- /cols -->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-actions">
                                    <div class="label label-primary">5 min ago</div>
                                </div>
                                <!-- /panel-actions -->
                                <h3 class="panel-title">With heading label</h3>
                            </div>
                            <div class="panel-body" style="display: block;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad.</p>
                            </div>
                            <div class="panel-footer">
                                <a href="#" class="btn btn-default btn-sm pull-right">Download</a>
                                <a href="#" class="btn btn-default btn-sm"><i class="icon ion-thumbsup"></i> 246</a>
                                <a href="#" class="btn btn-default btn-sm"><i class="icon ion-social-twitter"></i></a>
                                <a href="#" class="btn btn-default btn-sm"><i class="icon ion-social-facebook"></i></a>
                                <a href="#" class="btn btn-default btn-sm"><i class="icon ion-social-googleplus"></i></a>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-actions">
                                    <div class="label label-primary">5 min ago</div>
                                </div>
                                <!-- /panel-actions -->
                                <h3 class="panel-title">With heading label</h3>
                            </div>
                            <div class="panel-body" style="display: block;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, delectus, doloribus nesciunt natus nihil sint illum officiis in maiores numquam aperiam corrupti aspernatur accusantium porro.</p>
                            </div>
                        </div>

                        <div class="box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, deserunt, excepturi, natus veniam reiciendis illum voluptatem neque magnam est laudantium aut incidunt dolore sequi provident quasi mollitia eum doloribus debitis consectetur harum nihil nam ad libero cum dolorum! Ex, dolores!</p>
                        </div>
                        <!-- /box -->

                        <div class="box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ipsum blanditiis id fugiat sed nihil ratione exercitationem aut. Doloremque, unde, veritatis, consequuntur laborum magni animi ipsum esse asperiores itaque cumque praesentium necessitatibus distinctio dicta alias culpa nisi nemo consequatur quia quam dignissimos enim fuga quisquam repellat obcaecati tempore temporibus ex.</p>
                        </div>
                        <!-- /box -->

                        <div class="box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, reprehenderit, molestias optio maxime nam temporibus esse laboriosam architecto cumque vitae sunt saepe et quidem ad labore libero iusto aliquam doloremque.</p>
                        </div>
                        <!-- /box -->
                    </div>
                    <!-- /cols -->
                </div>
                <!-- /row -->
            </div>
            <!-- /center-block -->

        </div>
        <!-- /app body -->
    </div>
    <!-- /content app -->

</section>
<!-- /content main -->
